<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.saysweb.emis_app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:icon="@mipmap/launcher_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SchoolSelectActivity"
            android:windowSoftInputMode="stateAlwaysHidden"
            />
        <activity
            android:name=".EnrollmentByGrade"
            android:parentActivityName=".EditEnrollmentByGrade"
            tools:targetApi="jelly_bean">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".EditEnrollmentByGrade" />
        </activity>

        <activity
            android:name=".GradeClassCount"
            android:parentActivityName=".EditGradeClassCount"
            tools:targetApi="jelly_bean">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".EditGradeClassCount" />
        </activity>
        <activity
            android:name=".BoardingEnrollment"
            android:parentActivityName=".EditBoardingEnrollment"
            tools:targetApi="jelly_bean">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".EditBoardingEnrollment" />
        </activity>
        <activity
            android:name=".EditEnrollmentByGrade"
            android:parentActivityName=".SchoolSelectActivity"
            tools:targetApi="jelly_bean">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SchoolSelectActivity" />
        </activity>
        <activity
            android:name=".EditGradeClassCount"
            android:parentActivityName=".SchoolSelectActivity"
            tools:targetApi="jelly_bean">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SchoolSelectActivity" />
        </activity>
        <activity android:name=".EditBoardingEnrollment">
            android:parentActivityName=".SchoolSelectActivity"
            tools:targetApi="jelly_bean">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SchoolSelectActivity" />
        </activity>
        <activity android:name=".EntryInfo"></activity>

        <!--<receiver android:name=".NetworkStateChecker">-->
            <!--<intent-filter>-->
                <!--<action android:name="android.net.conn.CONNECTIVITY_CHANGE" />-->
            <!--</intent-filter>-->
        <!--</receiver>-->

    </application>

</manifest>